/*
#usrl,#passlog,button {

    width: 22%;
    border-radius: 25px;
   
    margin: 4px 0;
    box-sizing: border-box;
    font-size: medium;
    
    
}
label {
  font-family: "poppins", sans-serif;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


.container {
    display: flex;
    flex-direction: column;
 
    justify-content: center;
  
    position: relative;
    flex: 0 0 auto;

    height: 500px;
    left: 0px;
    top: 70px;
   
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 50%,
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0) 100%
    );
   
  }
  body{
   
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(253, 255, 255) 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 100%
    );
  }

  form{position: relative;
    left: 800px;}
    #file{
      align-items: center;
    }
    